h2 {
    font-family: arial, sans-serif;
    text-align: center;
    width: 100%;
    padding-left: 10px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.row {
    padding: 10px;
    width: 100%;
    font-family: arial, sans-serif;
    padding-left: 20px;
}