<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: header_frag">
    <meta charset="UTF-8">
    <title>Add</title>
</head>

<body>

<h2>Add a Task</h2>
<form action="#"
      th:action="@{/process}"
      th:object="${todo}"
      method="post">
    <input type="hidden" th:field="*{id}"/>
    <div class="row">
        Task Name:<input type="text" th:field="*{taskName}"/>
        <span th:if="${#fields.hasErrors('taskName')}"
              th:errors="*{taskName}"></span> <br/>
    </div>
    <div class="row">
        Due Date(mmddyy): <input type="text" th:field="*{dueDate}"/>
        <span th:if="${#fields.hasErrors('dueDate')}"
              th:errors="*{dueDate}"></span><br/>
    </div>
    <div class="row">
        Priority (1=low, 2=middle, 3=high):<input text="text" th:field="*{priority}" value="1"/>
        <span th:if="${#fields.hasErrors('priority')}"
              th:errors="*{priority}"></span>
    </div>
    <br/><br/>
    <div class="row">
        <input type="submit" value="Submit">
    </div>

</form>

<div th:replace="fragments :: script_frag"></div>
<div th:replace="fragments :: footer_frag"></div>

</body>
</html>