<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: header_frag">
    <meta charset="UTF-8">
    <title>Show</title>
</head>

<body>
<h2>List of Things to Do</h2>
<a href="/add" class="btn btn-default btn-sm">Add a Task
    <span class="glyphicon glyphicon-plus"></span>
</a>

<table>
    <tr>
        <th>Task Name</th>
        <th>Due Date</th>
        <th>Priority</th>
    </tr>
    <tr th:each="item : ${todos}">
        <td th:text="${item.taskName}"></td>
        <td th:text="${item.dueDate}"></td>
        <td th:text="${item.priority}"></td>
        <td>
            <a th:href="@{/update/{id}(id=${item.id})}">
                <span class="glyphicon glyphicon-edit"></span>Update</a>
            <br/>
            <a th:href="@{/delete/{id}(id=${item.id})}">
                <span class="glyphicon glyphicon-trash"></span>Delete</a>
        </td>
    </tr>
</table>

<div th:replace="fragments :: script_frag"></div>
<div th:replace="fragments :: footer_frag"></div>

</body>
</html>